:root {
  --bar-height: 60px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background: var(--gradient-header);
  box-shadow: 0 4px 6px var(--shadow);
  border-bottom: 1px solid var(--border);
  height: calc(var(--bar-height) - 1px);
  -webkit-app-region: drag;
  position: relative;
}

.header-left {
  flex: 1;
}

.header-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 16px;
}

.header-app-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.header-center {
  flex: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header h1 {
  color: var(--text-primary);
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  text-shadow: 0 2px 4px var(--shadow);
}

.header input {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background: var(--input-background);
  color: var(--text-primary);
  font-size: 14px;
  width: 300px;
  transition: all 0.3s ease;
}

.header input:focus {
  outline: none;
  background: var(--input-background-focus);
  box-shadow: 0 0 0 2px var(--input-outline);
}

.header input::placeholder {
  color: var(--text-disabled);
}

.header-button {
  -webkit-app-region: no-drag;
  padding: 8px 16px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 20px;
  background: var(--gradient-button);
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px var(--shadow);
}

.header button:active {
  transform: translateY(0);
  box-shadow: none;
}

.search-container button {
  padding: 10px;
  min-width: 40px;
}

.search-input{
  -webkit-app-region: no-drag;
}
