.toggle-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--accent-toggle-off);
  color: var(--text-primary);
  transition: all 0.3s ease;
}

.toggle-button.on {
  background-color: var(--accent-toggle-on);
}
