* {
  outline: none;
}
.video-container {
  outline: none;
  width: 100vw;
  height: calc(100vh - var(--bar-height));
  position: relative;
  overflow: hidden;
}

.video-js {
  box-sizing: border-box;
  height: 100% !important;
  max-height: 100%;
  min-height: 100%;
  padding: 0px !important;
}

.video-js .vjs-tech {
  object-fit: contain;
}

.video-js .vjs-control-bar {
  display: none;
}
