* {
  outline: none;
}
.video-container {
  outline: none;
  width: 100vw;
  height: calc(100vh - var(--bar-height));
  position: relative;
  overflow: hidden;
}

.video-js {
  box-sizing: border-box;
  height: 100% !important;
  max-height: 100%;
  min-height: 100%;
  padding: 0px !important;
}

.video-js .vjs-tech {
  object-fit: contain;
}

/* Переопределяем анимацию для панели управления VideoJS */
.video-js .vjs-control-bar {
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out !important;
  transform: translateY(0);
}

/* Когда плеер неактивен и не на паузе, плавно перемещаем панель вниз */
.video-js.vjs-user-inactive:not(.vjs-paused) .vjs-control-bar {
  transform: translateY(100%);
  opacity: 0;
}

/* Когда плеер на паузе и неактивен, скрываем панель */
.video-js.vjs-paused.vjs-user-inactive .vjs-control-bar {
  transform: translateY(100%);
  opacity: 0;
}
